# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystems are summarized

## Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib
4. Seaborn
5. Scikit

| Data Science Tools |
| ----------------- |
| Jupyter Notebook  |
| RStudio           |
| VS Code           |

### Below are a few examples of evaluating arithmetic expressions in Python
### Addition
2+3
### Subtraction
5-2
### Multiplication
6*2
### Division
8/2

This a simple arithmetic expression to mutiply then add integers

In [2]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [3]:
minutes = 200
hours = minutes/60
hours

3.3333333333333335

**Objectives**
- Python
- R
- SQL

## Author
Kgotso Mathekga